.box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid rgb(218, 137, 17);
    margin: 20px;
    margin-top: 30px;
    
}
.inner{
    width: 200px;
    height: 200px;
    background-color: rgb(27, 194, 40);
    border: 1px solid rgb(27, 80, 194);

    transform: rotate(45deg) scale(.9) translate(10px);
}